* {

}
body {
	background-image: url("../images/cuteBackground1.gif");
	background-color: pink;

}
.evil1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 40%;
	border: 10px solid pink;
	position: relative;
}
.doing-stuff {
	margin-left: auto;
	margin-right: auto;
	padding-top: 3em;
	width: 100%;
	text-align: center;
	
}
.naming {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	width: 100%;
	text-align: center;
}
.naming input {
	border: 2px solid black;
}

h3 {
	text-align: center;
	font-family: 'Shrikhand', cursive;
	color: pink;
}
.progress {
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 10px;
  	width: 300px;
}





