* {

}
body {
	background-image: url("../images/cuteBackground1.gif");
	background-color: pink;

}
.evil1 {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	border-radius: 40%;
	border: 10px solid pink;
	position: relative;
}
.doing-stuff {
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	width: 100%;
	text-align: center;
	
}
.naming {
	display: inline-block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 25px;
	width: 100%;
	text-align: center;
}
.naming input {
	border: 2px solid black;
}

h3 {
	text-align: center;
	font-family: 'Shrikhand', cursive;
	color: pink;
}
.progress {
	margin-left: auto;
  	margin-right: auto;
  	margin-top: 10px;
  	width: 300px;
}
.btn3d {
    transition:all .08s linear;
    position:relative;
    outline:medium none;
    -moz-outline-style:none;
    border:0px;
    margin-right:10px;
    margin-top:15px;
}
.btn3d:focus {
    outline:medium none;
    -moz-outline-style:none;
}
.btn3d:active {
    top:9px;
}
 .btn-success {
    box-shadow:0 0 0 1px #5cb85c inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #4cae4c, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5cb85c;
}
 .btn-info {
    box-shadow:0 0 0 1px #5bc0de inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #46b8da, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#5bc0de;
}
.btn-warning {
    box-shadow:0 0 0 1px #f0ad4e inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #eea236, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#f0ad4e;
}
.btn-danger {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #C24032, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#c63702;
}
.btn-dark {
    box-shadow:0 0 0 1px #c63702 inset, 0 0 0 2px rgba(0,0,0,0.15) inset, 0 8px 0 0 #000000, 0 8px 0 1px rgba(0,0,0,0.4), 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#000000;
}



